@model RestauranteMVC.Models.Mesa

@{
    ViewData["Title"] = "Editar Mesa";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-warning">
            <h2><i class="bi bi-pencil"></i> Editar Mesa</h2>
        </div>
        <div class="card-body">

            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="IdMesa" />

                <div class="mb-3">
                    <label asp-for="Numero" class="form-label"></label>
                    <input asp-for="Numero" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Capacidad" class="form-label"></label>
                    <input asp-for="Capacidad" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Estado" class="form-label"></label>
                    <select asp-for="Estado" class="form-select">
                        <option>Libre</option>
                        <option>Ocupada</option>
                        <option>Reservada</option>
                    </select>
                </div>

                <div class="text-end">
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                    <button class="btn btn-warning">Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>
